<!DOCTYPE HTML>
<html>
    <head>
        <title>Create Account | Shipyard</title>
        <meta charset = "utf-8">
        <link href = "css/style.css" rel = "stylesheet">
        <link rel='stylesheet' type='text/css' href='css/login.css'>
        <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:400,400i,600,700,700i" rel="stylesheet">
    </head>
    <body>
		<h1 class = "game-title">SHIPYARD</h1>
        <div id = "login-box">
            <h1 style = "white-space:nowrap">New Account</h1>
            <p class = "error"><%= error %></p>
            <form action = "/create-account" method = "POST">
                <input name = "username" placeholder = "Username"><br>
                <input name = "password" placeholder = "Password" type = "password"><br>
                <input name = "confirmPassword" placeholder = "Confirm password" type = "password"><br>
                Already have an account? <br><a href = "/login">Log in</a><br>
                <button type = "submit">Create Account</button>
            </form>
        </div>
    </body>
</html>