<!DOCTYPE HTML>
<html>
    <head>
        <title>Create Account | Shipyard</title>
        <meta charset = "utf-8">
    </head>
    <body>
        <h1>Create New Account</h1>
        <form action = "/create-account" method = "POST">
            <input name = "username" placeholder = "username"><br>
            <input name = "password" placeholder = "password"><br>
            <input name = "confirm-password" placeholder = "confirm password"><br>
            Already have an account? <a href = "login.html">Log in.</a><br>
            <button type = "submit">Create Account</button>
        </form>
    </body>
</html>