<!DOCTYPE HTML>
<html>
    <head>
        <title>Shipyard</title>
        <meta charset = "utf-8">
		<link rel='stylesheet' type='text/css' href='css/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    </head>
    <body>
        
        <h1>Welcome back, <%= name %></h1>
        <div class = "dropdown-div">
			<button id = "account-options" class = "dropdown-button">Options</button>
			<div id = "dropdown-menu" class = "dropdown-content">
				<form method = "POST" action = "/logout">
					<button id = "logout-button" type = "submit">Logout</button>
				</form>
				<button>btn 2</button>
				<button>btn 3</button>
			</div>
		</div>
		
        <div id = "game"></div>
        
        <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
        <script src="js/game.js"></script>
        <script src="/socket.io/socket.io.js"></script>
		<script>
			/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
			
			var accountOptions = document.getElementById("account-options");
			
			function showHide() {
				document.getElementById("dropdown-menu").classList.toggle("show");
				document.getElementById("account-options").classList.toggle("white-text");
			}
			
			accountOptions.addEventListener('click', showHide);
			
			// Close the dropdown if the user clicks outside of it
			window.onclick = function(event) {
			  if (!event.target.matches('.dropdown-button')) {
				
				document.getElementById("account-options").classList.toggle("white-text");
				
				var dropdowns = document.getElementsByClassName("dropdown-content");
				
				for (var i = 0; i < dropdowns.length; i++) {
				  var openDropdown = dropdowns[i];
				  if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				  }
				}
			  }
			}
		</script>
    </body>
</html>