
#login-box {
	position: relative;
	
	background-color: #a8a3a3;
	border: 8px ridge #969393;
	min-width: 290px;
	max-width: 500px;
}

h1 {
	text-align: center;
}

input {
	background-color: #3d3d3d;
	color: white;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

::placeholder {
	color: white;
	opacity: 0.75;
}