<!DOCTYPE HTML>
<html>
    <head>
        <title>Login to Shipyard</title>
        <meta charset = "utf-8">
		<!--<link rel='stylesheet' type='text/css' href='style.css'>-->
    </head>
    <body>
        
        <div id = "login">
			<form action=""> <!-- put the page thing here in action I think-->
				<input type="text" placeholder="Username"> <br>
				<input type="password" placeholder="Password"> <br>
				<input type="Button" value="Submit (this doesn't do anything just yet)">
			</form>
		</div>
        
        <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
        <script src="js/game.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </body>
</html>