<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | Shipyard</title>
        <meta charset = "utf-8">
    </head>
    <body>
        <h1>Login</h1>
        <form action = "/login" method = "POST">
            <input name = "username" placeholder = "username"><br>
            <input name = "password" placeholder = "password"><br>
            Don't have an account? <a href = "createAccount.html">Create new account</a><br>
            <button type = "submit">Login</button>
        </form>
    </body>
</html>