<!DOCTYPE html>

<html>
	<head>
        <title>Your Profile | Shipyard</title>
        <meta charset = "utf-8">
		<link rel='stylesheet' type='text/css' href='css/profile.css'>
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    </head>
	<body>
	<p></p>
	</body>
</html>