body {
	background: url('../img/login-background.png');
	color: white;
	font-family:"Bungee";
    margin-top:80px;
}

h3 {
	font-size: 24px;
	margin: 0;
	background-color: #2d2d2d;
	text-align: center;
}

ul {
	margin-top: 0;
	list-style: none;
	padding: 5px;
	font-family: "Oswald";
	font-size: 21px;
}

button {
	margin-left: 5px;
}

#profile-heading {
	font-size: 30px;
	
	margin-top: 0;
	
	margin-right: 0px;
	display: inline-block;
	width: 80%;
}

.profile-image {
	background-color: #383838;
	position: relative;
	padding-top: 10px;
	margin: auto;
	width: 250px;
	height: 250px;
}

.profile-image:hover {
	background-color: #6d6d6d;
	cursor: pointer;
}

.name-heading {
	padding: 0;
	margin-bottom: 15px;
}

.the-basic-profile-info {
	margin-top: 15px;
	background-color: #2a2a2a;
	padding-top: 15px;
}



.left-div {
	display: inline-block;
	width: 30vw;
}

.right-div {
	vertical-align: top;
	display: inline-block;
	width: 67vw;
}

.main-display {
	background-color: #444444;
	margin-right: 20px;
	width: 30vw;
	max-width: 360px;
	text-align: center;
}

.profile-statistics {
	background-color: #444444;
	width: 65vw;
	/*height: 384px;*/
}

#change-username {
	margin-left: 0;
}

.profile-actions-btn {
	margin-left: 25px;
}

.session-actions {
	display: block;
	margin-right: 20px;
	margin-top: 30px;
	background-color: #444444;
	max-width: 360px;
	width: 30vw;
	text-align: center;
	/*height: 150px;*/
}

.non-self-profile, .self-profile {
	display: flex;
	justify-content: center;
}

.show {
	display: block;
}

h3{
    font-family:"Bungee";
}

#overview{
    background: #444444;
    width:calc(100% - 32px);
    margin:16px;
    font-family: "Source Sans Pro"
}

#username{
    display:inline-block;
    margin:8px 16px;
    font-size:34px;
    font-weight:600;
    vertical-align: top;
}

.overview-desc{
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
}

#overview-stats{
    display:inline-table;
    border-collapse: separate;
    border-spacing: 16px 8px;
}

.overview-value{
    font-size:18px;
    margin:0px 8px;
}
.section{
    background: #444444;
    width:calc(100% - 32px);
    margin:16px;
    font-family: "Source Sans Pro"
}