body {
	background: url('../img/login-background.png');
	color: white;
	font-family:"Bungee";
}

h3 {
	margin: 0;
	background-color: #1c1c1c;
}

ul {
	margin-top: 0;
	list-style: none;
	padding: 5px;
}

#profile-heading {
	font-size: 30px;
	text-align: center;
	margin-top: 0;
	border-bottom: 4px solid #282828;
	margin-right: 0px;
}

.profile-image {
	background-color: #383838;
	position: relative;
	padding-top: 10px;
	margin: auto;
	width: 250px;
	height: 250px;
}

.name-heading {
	margin-bottom: 15px;
}

.the-basic-profile-info {
	margin-top: 15px;
	background-color: #1c1c1c;
	padding-top: 15px;
}



.left-div {
	display: inline-block;
	width: 30vw;
}

.right-div {
	vertical-align: top;
	display: inline-block;
	width: 67vw;
}

.main-display {
	background-color: #282828;
	margin-right: 20px;
	width: 30vw;
	max-width: 360px;
	text-align: center;
}

.profile-statistics {
	background-color: #282828;
	width: 65vw;
	height: 384px;
}

.session-actions {
	display: block;
	margin-right: 20px;
	background-color: #282828;
	max-width: 360px;
	width: 30vw;
	/*height: 150px;*/
}
