.error{
    color:red;
}
body{
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
	background-color: #186aad;
}

button {
	cursor: pointer;
}

.dropdown-div {
	position: relative;
	/*display: inline-block;*/
}

.dropdown-div button {
	border: 3px solid #3de1ff;
	color: #3de1ff;
	background-color: #186aad;
}

/*.dropdown-button:focus {
	color: white;
}*/

.dropdown-content {
	display: none;
}

.dropdown-button {
	padding: 7px 3px 7px 3px;
}

.dropdown-content button {
	padding: 7px 3px 7px 3px;
	cursor: pointer;
	display: block;
}

.show {
	display: block;
}

.white {
	color: white;
}

.button{
	-webkit-transition-duration: 0.4s; /* For safari...I think */
    transition-duration: 0.4s;
	background-color: black;
	padding: 1px 10px 1px 10px;
	color: white;
	font-family:"Bungee";
	font-size: 20px;
	border: 4px solid white;
}
.button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}