.error{
    color:red;
}
body{
	color: white;
    font-family: 'Do Hyeon', sans-serif;
	background-color: #186aad;
}

button {
	cursor: pointer;
}

.dropdown-div {
	position: relative;
	float: right;
	/*display: inline-block;*/
}

.dropdown-div button {
	font-family: 'Do Hyeon', sans-serif;
	border: 3px solid #3de1ff;
	color: #3de1ff;
	background-color: #186aad;
	
}

/*.dropdown-button:focus {
	color: white;
}*/

.dropdown-content {
	display: none;
}

.dropdown-button {
	padding: 7px 3px 7px 3px;
	width: 62px;
}

.dropdown-content button {
	width: 62px;
	padding: 7px 3px 7px 3px;
	cursor: pointer;
	display: block;
}

.show {
	display: block;
}

.white {
	color: white;
}

.landing-div {
	background-color: #1e75c9;
	width: 100%;
	height: 700px;
}

.landing-div-directory {
	border: 2px solid #3de1ff;
	padding: 1px;
	text-align: center;
	font-size: 25px;
	width: 100px;
	height: 10px;
	display: inline;
}

#planets, #find-match {
	display: none;
}

.header {
	display: inline;
}